repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  -   id: check-yaml
  -   id: trailing-whitespace
  -   id: check-toml

- repo: https://github.com/pycqa/isort
  rev: 5.10.1
  hooks:
  -   id: isort
      name: isort (python)

- repo: https://github.com/psf/black
  rev: 22.10.0
  hooks:
  -   id: black
      args:
      -   -l 120